<li><a href="exercise01.html">01. 2D and 3D modelling</a></li>
<li><a href="exercise02.html">02. Parametric Design and Additive Production</a></li>
<li><a href="exercise03.html">03. Engraving and pressfit Lasercutting</a></li>
<li><a href="exercise04.html">04. Embedded Programming</a></li>
<li><a href="exercise05.html">05. 3D Printing</a></li>
<li><a href="exercise06.html">06. Electronic Production</a></li>
<li><a href="exercise07.html">07. CNC Milling</a></li>
<li><a href="exercise08.html">08. Electronic Design</a></li>
<li><a href="exercise09.html">09. Input Devices</a></li>
<li><a href="exercise10.html">10. Output Devices</a></li>

