<li><a href="sideproject01.html">01. NE555 VCO</a></li>
<li><a href="sideproject02.html">02. The Story of the Roland MD40X</a></li>
<li><a href="sideproject03.html">03. Mechanical Gimbal</a></li>
<li><a href="sideproject04.html">04. Maker's ugly Telescope</a></li>